<div class="container" id="modificar" hidden>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Busqueda por identificación: </label>
                        <input type="number" class="form-control" id="identificacion"
                            placeholder="Ingrese el número de documento" style="width: 40%;"
                            (keypress)="ValidarCaracteresNumericosYMaxlength('identificacion', $event)">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select class="form-select" aria-label="Default select example"
                            id="optiontipodeidentificacion">
                            <option value="" selected>* Modificar tipo de identificación</option>
                            <option value="cedula de ciudadanía">Cedula de ciudadanía</option>
                            <option value="cedula extranjera">Cedula extranjera</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="number" class="form-control" id="identificacion"
                            placeholder="* Esperando # de doc."
                            (keypress)="ValidarCaracteresNumericosYMaxlength('identificacion', $event)">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="nombres"
                            placeholder="* Esperando sus nombres."
                            (keypress)="ValidarCaracteresAlfabeticosYMaxlength('nombres', $event)">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="apellidos"
                            placeholder="* Esperando sus apellidos."
                            (keypress)="ValidarCaracteresAlfabeticosYMaxlength('apellidos', $event)">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="email" class="form-control" id="correo"
                            placeholder="* Esperando el correo electrónico."
                            (keypress)="ValidarCaracteresAlfanumericosYMaxlength('correo', $event)">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="password" class="form-control" id="password"
                            placeholder="* Ingrese una contraseña." readonly
                            (keypress)="ValidarMaxlength('password', $event)">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="password" class="form-control" id="password2"
                            placeholder="* Confirmar la contraseña." readonly
                            (keypress)="ValidarMaxlength('password2', $event)">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <button type="submit" class="btn btn-warning" (click)="ValidarParaRegistrar()">
                    Modificar información</button>
            </div>
        </div>
    </div>
</div>
