<div class="container" id="register-form">
    <h1>Registrarse.</h1>
    <hr>
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <select class="form-select" aria-label="Default select example" (change)="TipoDeUsuarioSeleccionado()" id="optiontipodeusuario">
                            <option value="" selected>* Tipo de usuario a registrarse.</option>
                            <option value="super administrador">Super administrador</option>
                            <option value="administrador">Administrador</option>
                            <option value="funcionario">Funcionario</option>
                            <option value="contratista">Contratista</option>
                            <option value="visitante">Visitante</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select class="form-select" aria-label="Default select example" id="optiontipodeidentificacion">
                            <option value="" selected>* Tipo de identificación.</option>
                            <option value="cedula de ciudadanía">Cedula de ciudadanía</option>
                            <option value="cedula extranjera">Cedula extranjera</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="number" class="form-control" id="identificacion" placeholder="* Ingrese # de doc."
                        (keypress)="ValidarCaracteresNumericosYMaxlength('identificacion', $event)">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="nombres" placeholder="* Ingrese sus nombres."
                        (keypress)="ValidarCaracteresAlfabeticosYMaxlength('nombres', $event)">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="apellidos" placeholder="* Ingrese sus apellidos."
                        (keypress)="ValidarCaracteresAlfabeticosYMaxlength('apellidos', $event)">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="email" class="form-control" id="correo" placeholder="* Ingrese el correo electrónico."
                        (keypress)="ValidarCaracteresAlfanumericosYMaxlength('correo', $event)">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="* Ingrese una contraseña."
                        (keypress)="ValidarMaxlength('password', $event)">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="password" class="form-control" id="password2" placeholder="* Confirmar la contraseña."
                        (keypress)="ValidarMaxlength('password2', $event)">
                    </div>
                </div>
                <div class="col-md-6 hidden" hidden>
                    <div class="form-group">
                        <select class="form-select" aria-label="Default select example" id="optionempresa">
                            <option value="" selected>* Sel. la empresa.</option>
                            <option value="1">VIP-Access</option>
                            <option value="2">Insepe</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 hidden" hidden>
                    <div class="form-group">
                        <select class="form-select" aria-label="Default select example" id="optionarea">
                            <option value="" selected>* Sel. el area.</option>
                            <option value="1">Sistemas</option>
                            <option value="2">Talento Humano</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 hidden" hidden>
                    <div class="form-group">
                        <label>Fecha de ingreso: </label>
                        <input type="date" class="form-control" title="Fecha de entrada" id="fechadeentrada">
                    </div>
                </div>
                <div class="col-md-6 hidden" hidden>
                    <div class="form-group">
                        <label>Fecha de salida: </label>
                        <input type="date" class="form-control" title="Fecha de salida" id="fechadesalida">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hidden-cam" hidden>
                <video id="video" width="100%" height="100%" hidden></video>
                <div class="row">
                    <canvas id="canvas" width="100%" height="100%"></canvas>
                </div>
            </div>
            <div class="hidden-btn-foto" style="margin-bottom: 2%;" hidden>
                <button (click)=ValidarParaTomarFoto() class="btn btn-success" style="width: 100%;">
                    Capturar fotografía.</button>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <button type="submit" class="btn btn-primary" (click)="ValidarParaRegistrar()" style="width: 100%;">
                    Registrar mi información.</button>
            </div>
        </div>
    </div>
</div>