<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="numbers">
                            <p class="card-category">Consultar</p>
                            <p class="card-title">Entradas<p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Fecha de consulta. Rango inicial: </label>
                            <input type="date" class="form-control" title="Fecha de entrada"
                                id="fechadeentrada">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Fecha de consulta. Rango final: </label>
                            <input type="date" class="form-control" title="Fecha de salida" id="fechadesalida">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <td>Fecha de entrada</td>
                                    <th>Identificacion</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Perfil</th>
                                    <th>Empresa</th>
                                    <th>Area</th>
                                    <th>Destino</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>31/12/2016</td>
                                        <td>1067725290</td>
                                        <td>Luis</td>
                                        <td>Villarreal</td>
                                        <td>Visitante</td>
                                        <td>Developers</td>
                                        <td>Sistemas</td>
                                        <td>Desconocido</td>
                                    </tr>
                                    <tr>
                                        <td>31/12/2016</td>
                                        <td>1023210967</td>
                                        <td>Andres</td>
                                        <td>Perez</td>
                                        <td>Contratista</td>
                                        <td>Corr. bolsas</td>
                                        <td>Finanzas</td>
                                        <td>Desconocido</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
